<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dellyman_Shipping::shipping" module="Dellyman_Shipping" sortOrder="20" resource="Dellyman_Shipping::shipping" title="Dellyman Shipping"/>
        <add id="Dellyman_Shipping::save" title="Connect to Dellyman" module="Dellyman_Shipping" sortOrder="10" action="dellyman/save" parent="Dellyman_Shipping::shipping" resource="Dellyman_Shipping::save"/>
        <add id="Dellyman_Shipping::pickup" title="Send pickup request" module="Dellyman_Shipping" sortOrder="10" action="shipping/pickup" parent="Dellyman_Shipping::shipping"  resource="Dellyman_Shipping::pickup"/>
    </menu>
</config>