<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="shipping" frontName="shipping">
            <module name="Dellyman_Shipping"/>
        </route>
        <route id="dellyman" frontName="dellyman">
            <module name="Dellyman_Shipping"/>
        </route>
        <route id="delivery" frontName="delivery">
            <module name="Dellyman_Shipping"/>
        </route>
        <route id="store" frontName="store">
            <module name="Dellyman_Shipping"/>
        </route>
        <route id="get" frontName="get">
            <module name="Dellyman_Shipping"/>
        </route>
        <route id="send" frontName="send">
            <module name="Dellyman_Shipping"/>
        </route>
    </router>
</config>